{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <fieldset>
        <div class="form-group">
            
            <table style="width:100%">
                <tr>
                    <th>HI</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>TOTAL</th>
                </tr>        
                {% for row in rows %}
                    <tr>
                        <td> {{ row["symbol"] }} </td>
                        <td> {{ row["name"] }} </td>
                        <td> {{ row["shares"] }} </td>
                        <td> {{ row["price"] }} </td>
                        <td> {{ row["total"] }} </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>Cash</td>
                    <td colspan="3"></td>
                    <td> {{ balance }} </td>
                </tr>
                <tfoot>
                    <td colspan="4"></td>
                    <td><strong> {{ total_value }} </strong></td>
                </tfoot>
            </table>
        </div>
    </fieldset>
{% endblock %}
