{% extends "layout.html" %}

{% block title %}
    Info
{% endblock %}

{% block main %}
    <div class="jumbotron", style="color:#FEF9E7; background-size: cover; 
    background-image:url('http://www.neighbormedia.org/sites/default/files/imagefield/5494690532_78a3546039_b.jpg');
    text-shadow: black 0.3em 0.3em 0.3em; min-height:800px">
        <h1 align="center" style="padding-top:100px">Classroom to Table</h1>
        <h2 align="center">Harvard College</h2>
        <p align="center"><strong>Take your professors out to eat!</strong></p>
        <p align="center">
            <a href="#middle" class="btn btn-success btn-lg">
                Learn more
            </a>
        </p>
    </div>
    
    <h1 style="color:#FEF9E7; text-shadow: black 0.1em 0.1em 0.1em" id="middle">
        Program Information
    </h1>
    <br />
    <p style="color:#FEF9E7; font-size:14pt">
    The Harvard College Classroom to Table program allows faculty and undergraduate students to gather over a meal for discussion and academic connection, arranged and paid for by the College. This program reflects our effort to respond to several proposals that have come to the College in recent months for creating opportunities for students and faculty to engage with each other outside of the classroom.
    <br /><br />
    
    This program is an experiment, and we will be interested to see what you do with it. We will track and assess how it is working and will keep you posted. Depending on the level of interest in the program, we may need to limit the number of times we pay for any one group, but we will assess as we go.
    <br /><br />
    
    Harvard College's Classroom to Table program will pay up to $25/person in the party for lunch or dinner meals. Please be mindful of this dollar amount (appetizers and desserts might not fit within your $25/person budget depending upon your entrée selection).
    <br />
    <strong>Alcoholic beverages will not be paid for by the College.</strong>
    <br /><br />
    
    <strong>Who can participate in Classroom to Table?</strong><br />
    This is a Harvard College program. If you are a current Harvard faculty member giving primary instruction in a College course or if you are a registered Harvard College undergraduate student, you may initiate the arrangement and participate in the program.  Currently registered Harvard College undergraduate students are eligible; graduate students are not eligible for program funds. No exceptions.
    <br />
    </p><br />
    
    <ul style="color:#FEF9E7; font-size:14pt">
        <li>
            HOW DO I KNOW IF SOMEONE IS THE PRIMARY INSTRUCTOR IN A COURSE? <br />
            Generally, primary instructors (or course heads) are those who are the instructor of record for a course and appear within the course listing in the College Course Catalog search in courses.my.harvard.edu. Section Leaders and instructional support staff in a course (e.g., TFs/TAs/CAs) are not eligible. No exceptions.
            <br /><br />
        </li>
        
        <li>
            CAN FACULTY FROM OTHER HARVARD SCHOOLS PARTICIPATE? <br />
            Currently, Faculty from other Harvard schools are eligible only if they are teaching a course at the College, for example, an HBS instructor teaching a Freshman Seminar at the College may participate. Instructors teaching courses at the other Harvard schools in which an undergraduate cross-registers are not eligible. No exceptions.
            <br /><br />
        </li>
        
        <li>
            CAN SECTION LEADERS PARTICIPATE? <br />
            Instructional support staff such as TFs/TAs/CAs are not eligible for Classroom to Table funds, nor are graduate students enrolled in a course. No exceptions.
            <br /><br />
            If you have questions about eligibility and who may participate in the Classroom to Table program, please email <a style="color:#E6B0AA">classroomtotable@fas.harvard.edu</a> before you submit a form.
        </li>
    </ul><br />
    
    <p style="color:#FEF9E7; font-size:14pt">
    <strong>
        What are the group size guidelines?
    </strong><br />
    Groups may range in size from 4-6 people (this must include between 3 and 5 undergraduate students and 1 faculty member).
    <br /><br />
    
    <strong>
        Are other group sizes possible? 
    </strong><br />
    Generally we do not make exceptions to the group size guidelines. Please contact the Classroom to Table program at <a style="color:#E6B0AA">classroomtotable@fas.harvard.edu</a> with questions and for guidance.
    <br /><br />

    <strong>
        How soon can I sign up? 
    </strong><br />
    We ask that you submit your reservation request form at least five business days prior to your preferred reservation date/time (and add a day during holiday weeks). For example, a reservation for a Monday must be submitted on or before the prior Monday. We cannot accommodate requests submitted with less than five business days advance notice, so please plan accordingly. (Dates/Times are tentative until you receive a confirmation from us.)
    <br /><br />
    
    <strong>
        What happens once I submit the reservation request form? 
    </strong><br />
    You will receive a reservation follow-up and confirmation from the Office of Undergraduate Education within three business days. Then you must follow up with everyone in your group and share the reservation confirmation information (confirmed date/time, restaurant name and location).
    <br /><br />
    
    <strong>
        What if I need to cancel a reservation because all or part of our group can no longer make the reservation day/time? 
    </strong><br />
    Please email  classroomtotable@fas.harvard.edu as soon as possible—ideally at least 1-2 business days prior to the reservation. Our office will follow up with restaurant and cancel the reservation.
    <br /><br />
    
    <strong>
        For students: What if our invited faculty member can no longer attend the reservation?
    </strong><br />
    Please email <a style="color:#E6B0AA">classroomtotable@fas.harvard.edu</a> as soon as possible—ideally at least 1-2 business days prior to the reservation. Our office will follow up with restaurant and cancel the reservation. We hope that you are able to reschedule for another day, and we would ask that you submit a new reservation request form with the new information.
    <br /><br />
    </p>

{% endblock %}