{% extends "layout.html" %}

{% block title %}
    Faculty Profile
{% endblock %}

{% block main %}
<div class="jumbotron">
  <h1 align ="center" style="padding-bottom:50px">{{ credentials1[1] }} Profile</h1>
  <div class="panel panel-success col-lg-4">
    <div class="panel-heading">
      <h3 class="panel-title" align = "center">Email Address</h3>
    </div>
    <div class="panel-body" align="center">
      {{ credentials1[0] }}
    </div>
  </div>
  
  <div class="panel panel-danger col-lg-4">
    <div class="panel-heading">
      <h3 class="panel-title" align = "center">Preferred name</h3>
    </div>
    <div class="panel-body" align="center">
      {{ credentials1[1] }}
    </div>
  </div>
  
  <div class="panel panel-info col-lg-4">
    <div class="panel-heading">
      <h3 class="panel-title" align = "center">Department Affiliation</h3>
    </div>
    <div class="panel-body">
      <ul>
        {% for dept in credentials1[2:] %}
        <li>
          {{ dept }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <br></br><br></br>
</div>

<div class = "container">
    <legend>Availability</legend>
    
    {% if length == 0 %}
    <p>No times to display for {{ credentials1[1] }}.</p>
    {% endif%}
    
    {% if length != 0 %}
    <h3>{{ credentials1[1] }} is free at the following times:</h3>
    {% endif %}
    
    {% for time in times %}
        <div class="form-group">
              <p align = "right" style="font-size:14pt">{{ time["day"] }}  {{ time["time"] }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}